<div class = "site-nav">
    <h5 class="sub-header"><a href="../index.html">Site Links</a></h5>
    <ul>
        <li><a href="../about.html">About Me</a></li>
        <li><a href="../blog/blog.html">Blog</a></li>
        <li><a href="../projects/projects.html">Projects</a></li>
    </ul>
</div>
