<div class = "blog-nav">
    <h5 class="sub-header">Recent Blog Entries</h5>
    <ul>
        <li><a href="t3-design-to-web-blog.html">Blog Not Responding</a></li>
        <li><a href="c2-emotional-intelligence.html">Not a Tale About How I Crashed My Car</a></li>
        <li><a href="x1-blog-design.html">Tales of my Limited Creativity</a></li>
    </ul>
</div>
