<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Luke's Blog</title>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
        <link href="https://fonts.googleapis.com/css?family=Coming+Soon" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="styles/main.css">

    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class ="eleven columns offset-by-one my-title">
                    <h1 class="sub-header">About Me</h1>
                </div>
            </div>
            <div class="row content">
                  <div class = "eleven columns offset-by-one blog-text">
                    <div class = "nav-menu">
                        <div class = "blog-nav">
                            <h5 class="sub-header">Recent Blog Entries</h5>
                            <ul>
                                <li><a href="blog/t2-html-css-dom-p1.html">HTML, CSS, and Bad Analogies</a></li>
                                <li><a href="blog/c1-time-and-habits-blog.html">Time Management (or lack of it)</a></li>
                                <li><a href="blog/blog.html">Dev Bootcamp (or "Why I even have a blog")</a></li>
                            </ul>
                        </div>
                        <div class = "site-nav">
                            <h5 class="sub-header"><a href="index.html">Site Links</a></h5>
                            <ul>
                                <li><a href="about.html">About Me</a></li>
                                <li><a href="blog/blog.html">Blog</a></li>
                                <li><a href="projects/projects.html">Projects</a></li>
                            </ul>
                        </div>
                    </div>
                    <h5 class="sub-header">Who Am I?</h5>
                    <p>In time this page will let people know who I am in an entertaining way but right now I just need some placeholder information.  (That makes it sound like this will be made up - it's not, it's just the basic info.)</p>
                    <p>My name is Luke Davison.</p>
                    <p>I have a Bachelors degree in Management Studies (BMS), majoring in Accounting from the University of Waikato and a Graduate Diploma of Chartered Accounting from Chartered Accountants Australia and New Zealand.</p>
                    <p>I previously worked as a tax investigator in the Hidden Economy unit of Inland Revenue.
                    <p>I have been programming on a casual basis since 2004 - first in Game Maker but more recently it has mostly been with VBA, creating macros in Excel to create better spreadsheets.</p>
                    <p>I am currently learning Web Development through Dev Academy.  I'll let you know how I get on with this :-).</p>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns my-footer">
                    <h5>Thanks for visiting!</h5>
                </div>
            </div>
        </div>
    </body>
</html>
