<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Luke's Blog</title>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
        <link href="https://fonts.googleapis.com/css?family=Coming+Soon" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="styles/main.css">

    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class ="eleven columns offset-by-one my-title">
                    <h1 class="sub-header">Luke's Blog</h1>
                </div>
            </div>
            <div class="row content">
                  <div class = "eleven columns offset-by-one blog-text">
                    <div class = "nav-menu">
                        <div class = "site-nav">
                            <h5 class="sub-header"><a href="index.html">Site Links</a></h5>
                            <ul>
                                <li><a href="about.html">About Me</a></li>
                                <li><a href="blog/blog.html">Blog</a></li>
                                <li><a href="projects/projects.html">Projects</a></li>
                            </ul>
                        </div>
                    </div>
                    <h5 class="sub-header">Blog Archive</h5>
                    <ul>
                      <li><a href="blog/t3-design-to-web-blog.html">Blog Not Responding</a></li>
                      <li><a href="blog/c2-emotional-intelligence.html">Not a Tale About How I Crashed My Car</a></li>
                      <li><a href="blog/x1-blog-design.html">Tales of my Limited Creativity</a></li>
                      <li><a href="blog/t2-html-css-dom-p2.html">More Spelling Mistakes about HTML and CSS</a></li>
                      <li><a href="blog/t2-html-css-dom-p1.html">HTML, CSS, and Bad Analogies</a></li>
                      <li><a href="blog/c1-time-and-habits-blog.html">Time Management (or lack of it)</a></li>
                      <li><a href="blog/c1-reflection-blog.html">Dev Bootcamp (or "Why I even have a blog")</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns my-footer">
                    <h5>Thanks for visiting!</h5>
                </div>
            </div>
        </div>
    </body>
</html>
