<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Luke's Blog</title>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
        <link href="https://fonts.googleapis.com/css?family=Coming+Soon" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../styles/main.css">

    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class ="eleven columns offset-by-one my-title">
                    <h1 class="sub-header">Luke's Blog</h1>
                </div>
            </div>
            <div class="row content">
                <div class = "eleven columns offset-by-one blog-text">
                    <div class = "nav-menu">
                        <div class = "blog-nav">
                            <h5 class="sub-header">Recent Blog Entries</h5>
                            <ul>
                                <li><a href="t3-design-to-web-blog.html">Blog Not Responding</a></li>
                                <li><a href="c2-emotional-intelligence.html">Not a Tale About How I Crashed My Car</a></li>
                                <li><a href="x1-blog-design.html">Tales of my Limited Creativity</a></li>
                            </ul>
                        </div>
                        <div class = "site-nav">
                            <h5 class="sub-header"><a href="../index.html">Site Links</a></h5>
                            <ul>
                                <li><a href="../about.html">About Me</a></li>
                                <li><a href="../blog/blog.html">Blog</a></li>
                                <li><a href="../projects/projects.html">Projects</a></li>
                            </ul>
                        </div>
                    </div>
                    <h5 class="sub-header">Blog Not Responding</h5>
                    <p>14:46 on 22 March 2017</p>
                    <p>For this blog entry I am going to talk about website design.  Probably isn't going to be many jokes in this entry - just a lot of technical stuff.  If that doesn't sound interesting, perhaps just look at this <a href="http://imgur.com/2PWaSPE">clip of a dog having a shower in a handbasin</a> instead.</p>
                    <p>I am not a fan of mobile sites.  I hate it when they aren't able to do things their full sites can.  This wouldn't be a big issue if you could just view the desktop site on your phone but sometimes there will be no option to switch.  Apparently, a large community of people have similar opinions.  Instead, web designers are taught to create responsive sites.</p>
                    <p>Responsive sites look at how wide (and sometimes long) the screen is on the device the user is using to view the website.  The site will then respond to that information - scaling up or down, moving items around etc.  This is a very good thing as it means only one website is built rather than having a separate site for mobile users and the site design will look good and be readable on whatever device is being used.  The best way to do so is to design a web site using the "mobile first" philosophy.</p>
                    <p>Mobile first design is an interesting concept - that makes sense.  The idea is that it is easier to scale websites up than it is to scale them down.  This makes sense.  It is very difficult to cram something large into a very small space whereas it's relatively easy to find things to occupy space freed up when moving to a large screen.  For this website I haven't built it to be viewed on a mobile device - mostly because I don't foresee many people accessing this site on a mobile phone.  However, that isn't to say I'm not going to bother making it accessible for mobiles.  I know how much mobile phones get used nowadays to access the web so I agree that every website should look good on a mobile device.</p>
                    <p>Making a web page responsive can be done manually but frameworks have been developed to assist developers.  A framework like Bootstrap or Skeleton has built in ways for web developers make the sites they build responsive without having to do a lot of manual coding.  I don't really see there being any real reasons why frameworks shouldn't be used because they are easily customisable.  I guess the only reason not to use a framework is if you will need to adjust everything manually anyway - and that's not a real reason.</p>
                    <p>Now, after saying all that... I was reluctant to use a framework for my webpage.  For my design, I wanted it to look like a notebook.  Notebooks are certain sizes and would look weird if it was the width of a computer monitor.  Therefore I don't want or need the site to scale up from the default size.  (Although saying that, maybe I should think about doing something with the empty space on wide monitors - like adding an extra background image).</p>
                    <p>For this website, when the screen width drops below a certain number (which I have yet to determine), the menu should drop from being beside the content to below the content.  Or at least that was what I originally planned for it to do (and after checking my code, it appears it doesn't do that at the moment).  Here's a couple of doodles showing what I planned for my site to do</p>
                    <p>
                      <a href="../images/wireframe-index.jpg"><img src="../images/wireframe-index.jpg" alt="Index page doodle" class="halfpic"></a>
                      <a href="../images/wireframe-blog.jpg"><img src="../images/wireframe-blog.jpg" alt="Blog page doodle" class="halfpic"></a>
                    </p>
                    <p>My logic was that the menus should come after the blog content because if someone navigated to a page, it is probably because they want to look at the content and they don't need to use the menus until after they are done.  However I acknowledge I will need to put other navigation on the pages (like "Next" and "Previous").</p>
                    <p>At this point in time my website still isn't responding properly (because I have not made it do so).  I still need to divide the background image up so that the top and the bottom do not loop.  I was also thinking I might make it so that really long pages (like this one) are displayed on multiple "pages" - though I am undecided as to whether I will do this.</p>
                    <p>Stay tuned to find out :-)</p>
                </div>
            </div>
            <div class="row">
                  <div class="six columns prev-button">
                        <h5><a href="c2-emotional-intelligence.html">Previous Entry</a></h5>
                  </div>
                  <div class="six columns next-button">
                        <h5><a href="#">Next Entry</a></h5>
                  </div>
            </div>
            <div class="row">
                  <div class="twelve columns my-footer">
                    <h5>Thanks for visiting!</h5>
                  </div>
            </div>
        </div>
    </body>
</html>
