<body>
    <div class="container">
        {{> header}}
        <div class="row content">
            <div class = "eleven columns offset-by-one blog-text">
                <div class = "nav-menu">
                    {{> recentblogs}}
                    {{> navmenu}}
                </div>
                <h5 class="sub-header">{{blogheading}}</h5>
                {{blogtext}}
            </div>
        </div>
        <div class="row">
              <div class="six columns prev-button">
                    <h5><a href={{previousblog}}>Previous Entry</a></h5>
              </div>
              <div class="six columns next-button">
                    <h5><a href={{nextblog}}>Next Entry</a></h5>
              </div>
        </div>
        {{> footer}}
    </div>
</body>
