<div class="container">
    {{> header}}
    <div class="row">
        <div class ="eleven columns offset-by-one my-subtitle">
            <h5>Does computer stuff </h5>
        </div>
    </div>
    <div class="row">
        <div class = "five columns offset-by-two nav-pic">
            <a href="/about"><img src="Images/Index/about-link.png" alt="About Me"></a>
        </div>
        <div class = "five columns nav-pic">
            <a href="/blog"><img src="Images/Index/blog-link.png" alt="My Blog"></a>
        </div>
    </div>
    <div class="row">
        <div class = "five columns offset-by-two nav-pic">
            <a href="/projects"><img src="Images/Index/projects-link.png" alt="My Projects"></a>
        </div>
        <div class = "five columns columns nav-pic">
            <a href="/archive"><img src="Images/Index/other-link.png" alt="Other"></a>
        </div>
    </div>
    {{> footer}}
</div>
